/*CSS page for home page, we can create more for others if needed*/
body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

header {
    background: #8fa382;
    height: 100px;
}

h1 {
    margin: 0;
    padding-top: 15px;
    color: #ffffff;
    font-family: cursive;
    font-weight: bold;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}


footer {
    clear: left;
    width: 100%;
    background: #8fa382;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}
            
#content {
    margin-right: 230px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #555;
}
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #767a7b;
}

#mainMenu a {
	display:block;
	padding:8px;
	text-decoration:none;
	background-color: #767a7b;
    color:#ffffff;
    font-family: cursive;
}

#mainMenu a:hover {
	background-color:#00916e;
	color:#fff;
}



 